
@model RegisterModel
@{
    ViewData["Title"] = "เลือกเมนู";
}

    <p>@Model.Idstudent</p>
    <p>
        @Model.Password
    </p>
    <p>
        @Model.Name
    </p>
    <p>
        @Model.Lastname
    </p>
    <p>
        @Model.Telephone
    </p>
    <p>
        @Model.Year
    </p>


<!--<h1 style="text-align:center;">เมนูเลือก</h1>-->



<button type="button" class="btn btn-primary btn-lg btn-block" style="height:200px;font-size:50px;">กรอกบันทึกแบบฟอร์มCS1</button>
<button type="button" class="btn btn-danger btn-lg btn-block" style="height:200px;font-size:50px;">เลือกอาจารย์ที่ปรึกษา</button>