@model List<Techer>
<script>
    function checksent() {
        swal({
            title: "คุณแน่ใจว่าจะส่งแบบเสนอหัวข้อนี้?",
            text: "กรุณาเช็คข้อมูลให้ถูกต้องก่อนส่งพื่อป้องกันการเกิดปัญหาในภายหลัง!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("คุณได้ทำการส่งฟอร์มCS1เรียบร้อยแล้วครับ!", {
                        icon: "success",
                    });
                    document.getElementById("myForm").submit();


                } else {
                    swal("ยกเลิกการส่งสำเร็จ!");
                }
            });
    }
</script>
<h3 style="text-align:center;">เลือก อ.ที่ปรึกษา </h3>


<form asp-action="saveidteacher" name="myForm"id="myForm" method="POST">
    <div class="form-group card-body card">
        <div class="row">
            <div class="col-6">
                <img src="@Model[@ViewBag.Id - 1].image" alt="Alternate Text" width="250" height="250" style="display:inline"/>
               
            </div>
            <div class="col-6">
                <input type="hidden" name="idteacher" value="@ViewBag.Id" />
                <p>ลำดับที่ @ViewBag.Id</p>
                <p>ชื่ออาจารย์ : @Model[@ViewBag.Id - 1].Name</p>
                <p>ความถนัดด้านภาษา : @Model[@ViewBag.Id - 1].Skill</p>
                <span>ชื่อเรื่องวิจัยของคุณ</span>
                <span>@ViewBag.title @ViewBag.titleEng</span><br />
                <span>แนบฟอร์ม CS1 </span>
                <a href="../Print/Index" target="_blank" class=" btn-lg btn btn-info btn-warning btn-block">ดูฟอร์มCS1ของคุณ</a>
            </div>
            </div>
        <button type="button" class="btn btn-info btn-lg btn-block" onclick="checksent()">ส่งเอกสารยื่นหัวข้อCS1</button>
            </div>

</form>

