@model List<Techer>

<style>
    body {
        /* background-image: url('https://images.pexels.com/photos/875858/pexels-photo-875858.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');*/
    }
</style>
<!---->
<script>
    function fullteacher() {
         swal("อาจารย์ท่านนี้มีนักศึกษายื้นหัวข้อครบจำนวนแล้วกรุณาเลือกอาจารย์ท่านอื่น!", {
                        icon: "warning",
                    });
    }
    function noPass() {
         swal("กรุณาทำการกรอกแบบฟอร์ม CS1 ก่อนเลือกอาจารย์ที่ปรึกษา!", {
                        icon: "warning",
                    });
    }

</script>


<div class="container">
    <div class="row">

        <div class="mx-auto">
            <div class="alert alert-warning" role="alert">
                นักศึกษาสามารถกดที่ชื่ออาจารย์เพื่อเข้าสู่การยื่นเสนอหัวข้อ CS1 ได้โดยคลิ้กที่ตารางข้างล่างนี้
            </div>
            <h1 style="color:white;">เลือกอาจารย์ที่ปรึกษาวิจัย</h1>
        </div>
        <table class="table table-hover">
            <form asp-controller="Teacher" asp-action="index" method="get">
                <thead>
                    <tr>
                        <!--<th scope="col">#</th>-->
                        <th scope="col">ลำดับ</th>
                        <th scope="col">ชื่ออาจารย์</th>
                        <th scope="col">สกิล</th>
                        <th scope="col">สถานะ</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.Pass == true)
                    {
                        @foreach (var item in Model)
                        {
                            if (item.Status == 5)
                            {
                                <tr onclick="fullteacher();">
                                    <!--<tr>-->
                                    <!-- <th scope="row"><input type="checkbox" name="check" value="item.Id"aria-label="Checkbox for following text input"> </th>-->
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Skill</td>
                                    @if (@item.Status >= 5)
                                    {
                                        <td><p style="color:red;">@item.Status/5</p></td>
                                    }
                                    else
                                    {
                                        <td><p style="color:blue;">@item.Status/5</p></td>
                                    }
                                </tr>

                            }
                            else
                            {
                                <tr onclick="window.open('../Teacher?id=@item.Id ','_self','');">
                                    <!--<tr>-->
                                    <!-- <th scope="row"><input type="checkbox" name="check" value="item.Id"aria-label="Checkbox for following text input"> </th>-->
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Skill</td>
                                    @if (@item.Status >= 5)
                                    {
                                        <td><p style="color:red;">@item.Status/5</p></td>
                                    }
                                    else
                                    {
                                        <td><p style="color:blue;">@item.Status/5</p></td>
                                    }
                                </tr>
                            }
                        }
                    }
                    else
                    {

                        @foreach (var item in Model)
                             {

                                <tr onclick="noPass();">
                                    <!--<tr>-->
                                    <!-- <th scope="row"><input type="checkbox" name="check" value="item.Id"aria-label="Checkbox for following text input"> </th>-->
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Skill</td>
                                    @if (@item.Status >= 5)
                                    {
                                        <td><p style="color:red;">@item.Status/5</p></td>
                                    }
                                    else
                                    {
                                        <td><p style="color:blue;">@item.Status/5</p></td>
                                    }
                                </tr>
                               }
                    }
                    </tbody>
            </form>
        </table>

    </div>
</div>


